.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3ebfb;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 30px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.corner_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #f3ebfb;
  border-radius: 50%;
  margin-top: 15px;
}

.corner_cross {
  position: relative;
  width: 15px;
  height: 15px;
}

.corner_cross::before,
.corner_cross::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
}

.corner_cross::before {
  left: 7px;
  transform: rotate(45deg);
}

.corner_cross::after {
  right: 7px;
  transform: rotate(-45deg);
}

.text {
  display: flex;
  font-size: 1.2em;
  font-family: sans-serif;
  color: #39355c;
  padding-top: 15px;
  padding-right: 80px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.purple_square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: #d758fd;
}

.purple_square svg path {
  stroke: #fff;
}

.website {
  font-size: 0.7em;
  font-family: sans-serif;
  color: #39355c;
  padding-left: 5px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
}

.btn_block {
  display: flex;
  text-decoration: none;
  background: #fff;
  font-size: 0.7em;
  font-family: sans-serif;
  color: #fc7c7c;
  padding: 6px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
}

.btn_allow {
  display: flex;
  text-decoration: none;
  background: #fff;
  font-size: 0.7em;
  font-family: sans-serif;
  color: #9ed8c0;
  padding: 6px 16px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
}
