@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3fbfb;
}

.card {
  width: 350px;
  font-family: "Mulish", sans-serif;
}

.header {
  min-height: 100px;
  border-radius: 10px 10px 0 0;
  background-color: #153c63;
  margin-bottom: 30px;
}

.content {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  margin-top: 0;
  position: relative;
  bottom: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #0c013f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 50%);
}

.logo span {
  color: #07b4e8;
  font-size: 1.7em;
  font-weight: bold;
  margin: 0;
}

.inscription {
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(30%);
}

.inscription span {
  color: white;
  font-size: 0.9em;
}

.title {
  color: darkslategray;
  font-size: 1.4em;
  margin-left: 47px;
  margin-right: 47px;
  border-top-color: #fff;
  padding-top: 30px;
}

.text {
  color: darkslategray;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5;
  margin-left: 47px;
  margin-right: 47px;
}

.reference {
  font-size: 1em;
  margin-left: 47px;
  margin-bottom: 30px;
}

.btn-container {
  position: relative;
  bottom: 20px;
}

.btn {
  text-decoration: none;
  background: #153c63;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: block;
  justify-content: center;
}

.btn span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
