@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f9ff;
}

.card {
  width: 290px;
  font-family: "Mulish", sans-serif;
}

.header {
  height: 98px;
  border-radius: 10px 10px 0 0;
  background-color: #133e61;
  margin-bottom: 30px;
}

.content {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  position: relative;
  bottom: 30px;
  padding-left: 34px;
  padding-right: 34px;
}

.logo {
  width: 52px;
  height: 52px;
  background-color: #001e36;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 50%);
}

.logo::before {
  content: "Ps";
  color: #31a8ff;
  font-size: 1.9em;
  font-weight: 800;
}

.inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(30%);
}

.inscription::before {
  content: "Photoshop";
  color: #fff;
  font-size: 0.9em;
  font-weight: 700;
}

.title {
  color: #2f4f4f;
  font-size: 1.2em;
  border-top-color: #fff;
  padding-top: 30px;
  margin-bottom: 0.1em;
}

.text {
  color: #2f4f4f;
  font-weight: 600;
  font-size: 0.9em;
}

.reference {
  font-size: 0.9em;
  margin-bottom: 30px;
}

.reference a {
  color: #097dd6;
}

.btn {
  text-decoration: none;
  background: #133e61;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 32px;
}
